header {
    background-color: #ffffff;
    font-family: Georgia;
    height: 74px;
    border-bottom: 3px solid rgba(202, 195, 195, 0.88);
}

body{
	content: 960px;
}
#ProfilePic{
    position: relative;
    float: left;
    margin-right: 20px;
}

#YourName {
    position: relative;
    width: 250px;
    height: 50px;
    border: 12px solid #4aaaa5;
    left: 140px;
    font-size: 42px;
    text-align: center;
    font-family: unset;
    background-color: #4aaaa5;
    color: white;
}

#Otherpages{
	text-align: right;
    position: relative;
    font-size: 22px;
    padding: 24px;
    bottom: 88px;
    left: 64%;
    border: white;
    background-color: white;
}

h2{
	color: #4aaaa5;
	font-size: 35px;
}

h3{
	font-size: 25px;
}

#AboutMe, #ContactMe{
    font-size: 10px;
    background-color: #ffffff;
    position: relative;
}

#Portfoliopics{
    padding: 20px 7px 3px 8px;
}

#ul{
    display: inline;
    bottom: 68px;
    left: -128px;
    float: right;
    border: 20px solid white;
    position: relative;
    font-size: 22px;
}

ul{
	text-decoration: none;
	display: inline;
    border: 15px solid white;
    color: #cccccc;
}

a{
    text-decoration: none;
    color: #383535;

}

#AboutMe {
    width: 736px;
    height: 650px;
    border: 41px solid white;
    left: 110px;
    bottom: -53px;
    overflow: auto;
    line-height: 30px;
    font-size: 18px;
    color: #777777;
}

body{
	background-color: #dddddd;
}

#ContactMe {
    border: 40px solid white;
    width: 320px;
    height: 205px;
    bottom: 680px;
    left: 1015px;
}

h3{
	color: #4aaaa5;
}

#ContactImages {
    width: 85px;
    height: 85px;
    margin: 50px 6px 10px 10px;
}

input[type=text]{
	width: 100%;
	padding: 12px; 
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

input[type=textmessage]{
	width: 100%;
	height: 200px;
	padding: 12px; 
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

input[type=submit]{
	background-color: #4aaaa5;
	font-size: 20px;
	padding: 16px 35px 16px 35px;
	border: none;
	color: white;
}

footer{
	width: 100%;
    height: 47px;
    background-color: gray;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
    font-size: 19px;}

 #portfoliopics{
 	align-content: center;

 }